* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 500px;
    height: 600px;
    background-color: red;
    border: 2px solid #244624;
}

.display {
    width: 100%;
    height: 100px;
    background-color: rgb(171, 171, 238);
    display: flex;
    justify-content: center;
    align-items: center;    
}
.display input {
    width: 450px;
    height: 80px;
    font-size: 34px;
    border-radius: 21px;
    border: 5px solid #244624;
}

.keypad {
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.number-keypad {
    width: 75%;
}
.opreation-keypad {
    width: 25%;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: #cbaeeb;
    width: 102px;
    height: 90px;
    margin: 6px;
}